#div1 {
	height: 625px;
	width: 200px;
	float: left;
	clear: right;
}

#div2 {
	float: left;
	width: 1106px;
	margin-left: 2px;
	height: 625px;
}

#div_top {
	width: 1104px;
	clear: right;
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	height: 120px;
}

#div_bottom {
	width: 1104px;
	clear: left;
	float: right;
	height: 508px;
	margin-top: 10px;
}

#div_main {
	height: 698px;
	width: 1310px;
	background-image: url(../pictures/readmail.png);
	background-repeat: no-repeat;
	display: block;
	margin: 2% auto auto;
}

#div0 {
	height: 54px;
	width: auto;
}

.scrollit {
	overflow: scroll;
	height: 100%;
	width: 99.7%;
	margin-left: 1px;
}

#from_width {
	width: 20%;
}

#subject_width {
	width: 60%;
}

#date_width {
	width: 20%;
	text-align: center;
}

#attach_width {
	width: 10%;
	text-align: center;
}

#div_top_left {
	height: 120px;
	float: left;
	clear: right;
	width: 674px;
	margin-left: 70px;
}

#div_top_mid {
	height: 120px;
	float: left;
	width: 207px;
}

#div_top_right {
	height: 120px;
	float: right;
	width: 152px;
}

#tf_from {
	margin-top: 15px;
	margin-left: 4px;
	width: 655px;
	height: 19px;
	font-size: 16px;
}

#tf_to {
	width: 655px;
	margin-top: 7px;
	margin-left: 4px;
	height: 19px;
	font-size: 16px;
}

#tf_subject {
	margin-top: 7px;
	margin-left: 4px;
	width: 655px;
	height: 19px;
	font-size: 16px;
}

#attach {
	margin-top: 14px;
	margin-left: 10px;
	width: 193px;
	height: 93px;
}

#downloadall {
	margin-top: 14px;
	height: 28px;
	margin-left: 1px;
	width: 142px;
}

#downloads {
	margin-top: 6px;
	height: 28px;
	margin-left: 1px;
	width: 142px;
}