<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MailProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DoLogin</display-name>
    <servlet-name>DoLogin</servlet-name>
    <servlet-class>controller.DoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogin</servlet-name>
    <url-pattern>/DoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegister</display-name>
    <servlet-name>DoRegister</servlet-name>
    <servlet-class>controller.DoRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegister</servlet-name>
    <url-pattern>/DoRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSendMail</display-name>
    <servlet-name>DoSendMail</servlet-name>
    <servlet-class>controller.DoSendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSendMail</servlet-name>
    <url-pattern>/DoSendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoCheckMail</display-name>
    <servlet-name>DoCheckMail</servlet-name>
    <servlet-class>controller.DoCheckMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCheckMail</servlet-name>
    <url-pattern>/DoCheckMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoReadMail</display-name>
    <servlet-name>DoReadMail</servlet-name>
    <servlet-class>controller.DoReadMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoReadMail</servlet-name>
    <url-pattern>/DoReadMail</url-pattern>
  </servlet-mapping>
</web-app>